body {
  font-family: "Courier New", Courier, monospace;
}
.navbar {
  display: flex;
  padding: 15px 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(44, 41, 41);
  color: white;
  font-weight: 700;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.navbar .nav-links a {
  text-decoration: none;
  color: white;
  margin-right: 5px;
}

.dashboard {
  padding: 15px 50px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.dashboard .stats {
  padding: 50px 20px;
  border-radius: 10px;
  background-color: rgba(0, 255, 255, 0.4);
  cursor: pointer;
}

.category {
  padding: 15px 50px;
}

.category .category-list-item {
  cursor: pointer;
}
.category .category-list-item button {
  margin-right: 10px;
}
.category .category-list-item a {
  color: inherit;
  text-decoration: none;
}
